<!DOCTYPE html>
<html>
<head>
<style>
nav{display:inline-block;background:#55b460;border-radius:4px}
nav.home,nav.about,nav.contact{background:#a9aedd}
a{padding:5px;display:inline-block}
a:hover{text-decoration:none;font-size:large}
</style>
</head>

<body ng-app>

<nav class="{{active}}">
<a href="#" ng-click="active='home'">Home</a>
<a href="#" ng-click="active='about'">About</a>
<a href="#" ng-click="active='contact'">Contact</a>
</nav>

<p ng-show="active">You chose <b>{{active}}</b></p>


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>

</body>
</html>
